.header {
  background-color: $dark-grey;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    padding: 10px 0;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__link {
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    margin-right: 20px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0;
      height: 1.5px;
      background-color: $dull-orange;
    }
    &:hover:before {
      width: 100%;
    }
    &::before {
      transition: width 0.5s;
    }
  }
}

@media (max-width: 1440px) {
  .header__container {
    width: 100%;
    padding: 0 15px;
  }
}

@media (max-width: 525px) {
  .header {
    &__container {
      padding: 20px 0;
      display: flex;
      flex-direction: column;
    }
    &__menu {
      margin-bottom: 15px;
    }
    &__logo {
      display: none;
    }
    &__item {
      font-size: 30px;
    }
  }
}
