.motto {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &__block {
    @include orangeBlock;
    position: absolute;
    top: 7%;
    left: 50%;
  }
  &__container {
    min-height: 568px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__heading {
    font-weight: 700;
    line-height: 96px;
    font-size: 96px;
    color: $dark-grey;
    text-align: center;
  }
  &__img {
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 1228px) {
  .motto {
    &__container {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 940px) {
  .motto {
    &__heading {
      font-size: 60px;
      line-height: 60px;
    }
  }
}

@media (max-width: 348px) {
  .motto {
    &__heading {
      font-size: 50px;
    }
  }
}
