.activities {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 726px;
  padding: 0 20px;
  .container {
    display: flex;
    flex-direction: column;
    color: $dark-grey;
  }
  &__block {
    position: absolute;
    top: 5%;
    left: 3.5%;
    @include orangeBlock;
  }
  &__header {
    max-width: 600px;
    padding: 0 16px;
    position: relative;
    display: flex;
    padding: 30px 0;
    flex-direction: column;
    align-content: flex-start;
  }
  &__paragraph {
    text-align: left;
    padding: 20px 0;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 336px;
  }
  &__item {
    flex: 0 1 49%;
    display: flex;
    min-height: 70px;
    flex-wrap: nowrap;
    width: 100%;
  }

  &__icon {
    width: 36px;
    height: 36px;
    align-self: center;
  }
  &__name {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: left;
    min-height: 70px;
    padding: 0 10px;
  }
  &__span {
    padding: 10px 0;
  }
  &__desription {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .activities {
    &__header {
      margin: 20px 0;
    }
    &__item {
      margin-top: 10px;
      position: relative;
      flex: 0 1 100%;
    }
    &__name {
      padding: 0 20px;
    }
  }
}

@media (max-width: 520px) {
  .activities {
    &__paragraph,
    &__heading {
      text-align: center;
    }
    &__block {
      left: 50%;
    }
    &__item {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      position: relative;
      flex: 0 1 100%;
      border: 1px solid $dull-orange;
      padding: 10px 12px;
    }
    &__name {
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    &__span {
      font-weight: 700;
    }
  }
}
