.guests {
  position: relative;
  background-color: $beige;
  width: 100%;
  min-height: 682px;
  display: flex;
  &__block {
    @include orangeBlock;
    top: 5%;
    left: 50%;
  }
  &__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 1180px;
    overflow: hidden;
    padding: 0 15px;
  }

  &__header {
    padding: 0 15px;
    max-width: 615px;
    align-self: center;
    text-align: center;
  }
  &__paragraph {
    padding: 15px 0;
  }
  &__content {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
  }
  &__comment {
    font-size: 18px;
    line-height: 24px;
  }
  &__item {
    color: $dark-grey-1;
    background-color: #fff;
    margin-right: 20px;
    min-height: 290px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 50%;
    transition: all ease 0.5s;
    position: relative;
    width: 33.333%;
    animation: sliderGuests 15s ease;
  }

  &__review {
    color: $dark-grey;
    line-height: 20px;
  }
  &__icon {
    display: inline;
  }
  &__author {
    line-height: 20px;
    position: relative;

    &:before {
      content: "";
      width: 2px;
      height: 20px;
      position: absolute;
      background-color: $dull-orange;
      left: -10px;
    }
  }
  &__select {
    display: flex;
    align-self: flex-end;
  }
  &__label {
    display: block;
    position: relative;
    margin-right: 5px;
    border: 2px solid $dark-grey;
    border-radius: 30px;
    height: 60px;
    width: 60px;
    border-color: $dark-grey;
    cursor: pointer;
  }
  &__input {
    position: relative;
    display: none;
  }
}

#guests__btn--1,
#guests__btn--2 {
  opacity: 0;
  left: 50%;
  bottom: 50%;
}

#guests__btn--1:checked ~ #guests__item--1 {
  margin-left: 0;
}

#guests__btn--2:checked ~ #guests__item--1 {
  margin-left: -15%;
}

@keyframes sliderGuests {
  0% {
    left: 0;
  }
  20% {
    left: -15%;
  }
  50% {
    left: -35%;
  }
  75% {
    left: -50%;
  }
  100% {
    left: 0;
  }
}

@media (max-width: 700px) {
  .guests {
    &__container {
      height: max-content;
      margin-bottom: 20px;
    }

    &__header {
      padding: 30px 15px 5px 15px;
    }
    &__content {
      height: auto;
      display: flex;
      margin-bottom: 20px;
      flex-wrap: wrap;
      flex: 1 0 100%;
      justify-content: center;

      gap: 20px;
    }
    &__item {
      width: 100%;
      animation: none;
      align-self: center;
      margin-right: 0;
      font-size: 16px;
    }
    &__block {
      top: 18px;
    }
    &__label {
      width: 50px;
      height: 50px;
    }
  }
}

@media (max-width: 460px) {
  .guests {
    &__item {
      min-height: 350px;
    }
  }
}

@media (max-width: 375px) {
  .guests {
    &__item {
      min-height: 400px;
    }
  }
}
