.history {
  background-color: $beige;
  &__block {
    position: absolute;
    top: 70px;
    left: 50%;
    @include orangeBlock;
  }
  &__container {
    position: relative;
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 768px;
    min-height: 190px;
  }
  &__main-block,
  &__booking-block {
    padding: 16px 20px;
  }
  &__booking-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__paragraph {
    text-align: left;
    font-size: 13px;
    line-height: 20px;
    color: $dark-grey-1;
  }
}

@media (max-width: 1025px) {
  .history {
    &__container {
      width: 100%;
      margin-bottom: 20px;
    }
    &__main-block,
    &__booking-block {
      padding: 20px 25px;
    }
    &__paragraph:first-child {
      margin-bottom: 15px;
    }
  }
}

@media (min-width: 1026px) {
  .history {
    &__paragraph:first-child {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 789px) {
  .history {
    &__block {
      top: 15%;
    }
  }
}

@media (max-width: 530px) {
  .history {
    &__block {
      display: none;
    }
    &__main-block,
    &__booking-block {
      padding: 5px 0;
    }
    &__content {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
    }
    &__paragraph {
      text-align: center;
      font-size: 17px;
    }
    &__paragraph::first-line {
      font-weight: 700;
    }
    &__btn {
      align-self: center;
    }
  }
}
